name: benchmarks

on:
  push:
    branches: [master]
    tags: "*"
  pull_request:
    # Check all PR
    #
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-20.04']
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - run:  pip install tox

    # uncomment for debug purposes
    #- name: Setup upterm session
    #  uses: lhotari/action-upterm@v1

    - name: run asv benchmarks
      # --strict return nonzero exit if benchmark fail
      # --quick run the benchmarks only once (no round, one sample, 1 number)
      run: tox -e benchmarks-commit -- --quick --parallel --strict 'HEAD^!'
